<div class="view-main-screen" #mainScreen
        [style.marginLeft]="settings.print.marginLeft + 'px'"
        [style.marginTop]="settings.print.marginTop + 'px'"
        [style.width]="settings.print.width + 'px'">

    <div class="header">
        <img class="banner" src="./resources/shinybuttons.png" />
    </div>

    <h4 translate>customer.title</h4>

    <div class="print-row">
        <label translate>customer.name</label>
        <span class="print-value">{{order.customer.name}}</span>
    </div>

    <div class="print-row">
        <label translate>customer.telephone</label>
        <span class="print-value">{{order.customer.phoneFormatted}}</span>
    </div>

    <h4 translate>order.title</h4>

    <div class="print-row">
        <label translate>order.type.name</label>
        <span class="print-value" translate>order.type.{{order.type}}</span>
    </div>

    <div class="print-row">
        <label translate>order.details</label>
        <span class="print-value">{{order.details}}</span>
    </div>

    <div *ngIf="order.isEmergency" class="print-row text-center">
        <span class="print-value">
            &lt;<span class="" translate>order.importantText</span>&gt;
        </span>
    </div>

    <div class="print-row">
        <hr />
        <span class="print-value price text-right">{{order.price}} {{settings.currency}}</span>
    </div>

    <div class="footer" [innerHTML]="settings.print.footer"></div>
</div>
