<h3 translate>menu.newOrder</h3>

<form class="form-horizontal">
    <form-wizard #wizard>
        <wizard-step [title]="'customer.title' | translate" [showPrev]="false" [showNext]="false">
            <div class="panel panel-default">
                <div class="panel-heading" translate>customer.title</div>
                <div class="panel-body">
                    <app-customer [customer]="order.customer"></app-customer>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-default" tabindex="-1" (click)="saveAndClearCustomer()" translate>customer.action.saveClientOnly</button>
                    <button class="btn btn-default" tabindex="-1" (click)="continueWithoutClient()" translate>customer.action.continueWithoutClientData</button>
                    <button class="btn btn-primary" (click)="saveClientAndContinue()" translate>customer.action.saveAndContinue</button>
                </div>
            </div>
        </wizard-step>
        <wizard-step [title]="'order.title' | translate" [showPrev]="false" [showNext]="false">
            <div class="panel panel-default">
                <div class="panel-heading" translate>order.title</div>
                <div class="panel-body">
                    <app-product [order]="order"></app-product>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-default" tabindex="-1" translate (click)="backToClientEdit()">order.actions.back</button>
                    <button class="btn btn-primary" (click)="saveAndPrintOrder()" translate>order.actions.saveAndPrint</button>
                </div>
            </div>
        </wizard-step>
    </form-wizard>
</form>

