@page {
    margin: 0 20px;
}

h4 {
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px dotted black;
    margin-bottom: 0;
}

.banner {
    width: 100%;
    height: auto;
}

.view-main-screen {
    float: left;
}

.print-row, .print-row label, .print-value, h4, .footer {
    display: inline-block;
    width: 100%;
    font-family: Courier, sans-serif;
    line-height: 0.8em;
    font-size: 0.8em;
}

.price {
    font-size: 1em;
    font-weight: bold;
}

label {
    margin-bottom: 0;
}

hr {
    margin-bottom: 0;
    border-top: 1px solid black;
}